.header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.header ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-nav {
    margin-top: 28px;
    margin-bottom: 166px;
    display: block;
    width: 152px;
    /* height: 40px; */


    border-radius: 30px;
    text-decoration: none;

    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 40px;
    text-align: center;

    color: #F7F7F7;
}

.nav-calc {
    background: #CE9912;
    margin-right: 36px;
}

.nav-text {
    background: #FF4A4A;
    margin-right: 39px;
}